
.chat-page-background {
    background: #101214;
    height: 100vh;
}

.chat-page-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.chat-page-centerpiece {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.chat-page-user-list-container {
    display: flex;
    flex-direction: column;
    margin-right: 37px;
    flex-grow: 1;
}

.chat-page-user-list {
    width: 62px;
    height: 85vh;
    padding: 20px;

    background: linear-gradient(179.44deg, rgba(98, 99, 108, 0.8) 3.79%, rgba(59, 60, 73, 0.8) 32.69%, rgba(56, 57, 67, 0.8) 58.47%, rgba(51, 52, 61, 0.8) 78.17%, rgba(66, 68, 84, 0.8) 90.03%);
    box-shadow: 22px 36px 25px rgba(0, 0, 0, 0.88), 73px 33px 22px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 48px 92px 67px rgba(0, 0, 0, 0.25), 43px 48px 54px rgba(0, 0, 0, 0.53);
    border-radius: 56px;
}

.chat-page-main-body {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    margin: 20px;

    position: relative;
    width: 815px;
    height: 80vh;
    
    background: linear-gradient(109.88deg, rgba(26, 27, 29, 0.94) 8.67%, rgba(46, 50, 53, 0.94) 17.72%, rgba(53, 52, 57, 0.94) 30.71%, rgba(33, 32, 34, 0.94) 46.97%, rgba(37, 38, 39, 0.94) 67.76%, rgba(21, 23, 24, 0.94) 81.24%);
    box-shadow: 59px 4px 16px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 48px 92px 67px rgba(0, 0, 0, 0.25), 43px 48px 54px rgba(0, 0, 0, 0.53), inset -4px 4px 3px rgba(0, 0, 0, 0.22);
    border-radius: 56px;
}

.chat-page-top-banner {
    display: flex;
    flex-direction: row;
    z-index: 9999;
    border-radius: 100px;

    position: absolute!important;
    top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);

    position: absolute;
    width: 860px;
    height: 84px;
    left: -20px;


    background: linear-gradient(90.83deg, rgba(135, 70, 217, 0.9) 8.85%, rgba(122, 111, 228, 0.9) 53.15%, rgba(110, 92, 218, 0.9) 73.15%, rgba(142, 123, 255, 0.9) 95.8%);
    box-shadow: 7px 35px 15px rgba(0, 0, 0, 0.25);

}

.chat-page-message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chat-page-message-text {
    display: flex;
    align-items: center;
    z-index: 999;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid rgba(250, 224, 224, 0.19);
    max-width: 100%;
    position: absolute;
    bottom: -40px;
    width: 707px;
    height: 63px;
    background: rgba(83, 87, 96, 0.8);
    box-shadow: 0px 48px 20px -16px rgba(0, 0, 0, 0.35), inset 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.chat-page-input-box-padding {
    margin: 5px;
    
}

.write-a-message-placeholder {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* identical to box height, or 488% */

    display: flex;
    align-items: center;
    background: none!important;
    outline: none!important;
    border: none!important;
    text-align: center;
    letter-spacing: -0.5px;

    color: rgba(255, 255, 255, 0.7);

}

.write-a-message-placeholder::placeholder {
    text-align: center;
    letter-spacing: -0.5px;

    color: rgba(255, 255, 255, 0.7);
}

.chat-page-messages-body {
    max-height: 85%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.chat-page-text-sender {
    left: 0px;
    position: relative;
    bottom: 30px;
    z-index: 999;
    padding: 15px;
    padding-right: 30px!important;

    margin: 16px;

    border-radius: 10px;
    border-bottom-left-radius: 2px!important;

    background: linear-gradient(262.55deg, #474B54 29.54%, #535760 52.85%, #6C727D 114.12%);
    box-shadow: -18px 64px 20px rgba(0, 0, 0, 0.37);
}

.chat-page-main-text-sender {
    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 22px;
    /* or 138% */
    max-width: 340px;

    display: flex;
    align-items: center;
    letter-spacing: -1px;

    color: #FFFFFF;
}


.chat-page-text-sender-date {
    font-style: normal;
    font-weight: 510;
    font-size: 12px;

    margin: 0;
    position: absolute;
    right: 15px;
    bottom: 10px;

    letter-spacing: -1px;

    color: rgba(255, 255, 255, 0.4);
}

.chat-page-text-recipient-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}

.chat-page-text-recipient {
    right: 0px;
    position: relative;
    bottom: 30px;
    z-index: 999;
    padding: 15px;
    max-width: 340px;

    margin: 16px;

    border-radius: 10px;
    border-bottom-right-radius: 2px!important;

    background: linear-gradient(327deg, #9A9A9D 29.6% ,#F1F5FC 63.02%);    
    box-shadow: 45px 72px 17px rgba(0, 0, 0, 0.25), -20px 49px 21px rgba(0, 0, 0, 0.35);
}

.chat-page-text-recipient-message {
    font-weight: 510;
    font-size: 14px;
    line-height: 22px;
    max-width: 340px;

    letter-spacing: -1px;

    color: #27282E;
}

.chat-page-text-recipient-date {
    font-style: normal;
    font-weight: 510;
    font-size: 14px;

    letter-spacing: -1px;
    margin: 0;
    position: absolute;
    right: 15px;
    bottom: 0px;

    color: rgba(42, 41, 50, 0.4);
}


.chat-page-text-recipient-date { 
    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 78px;
    /* or 557% */
    text-align: center;
    letter-spacing: -1px;

    color: rgba(42, 41, 50, 0.4);
}


.chat-page-text-sender-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}