

.chat-page-background {
    background: #101214;
    height: 100%;
    min-height: 100vh;
}

.chat-page-container {
    display: flex;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.chat-page-centerpiece {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    z-index: 9999;
}

.chat-page-user-list-container {
    display: flex;
    flex-direction: column;
    margin-right: 37px;
    flex-grow: 1;
}

.chat-page-user-list {
    width: 92px;
    height: 85vh;
    padding: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;

    background: linear-gradient(179.44deg, rgba(98, 99, 108, 0.8) 3.79%, rgba(59, 60, 73, 0.8) 32.69%, rgba(56, 57, 67, 0.8) 58.47%, rgba(51, 52, 61, 0.8) 78.17%, rgba(66, 68, 84, 0.8) 90.03%);
    box-shadow: 22px 36px 25px rgba(0, 0, 0, 0.88), 73px 33px 22px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 48px 92px 67px rgba(0, 0, 0, 0.25), 43px 48px 54px rgba(0, 0, 0, 0.53);
    border-radius: 56px;
}

.chat-page-main-body {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    margin: 20px;

    position: relative;
    width: 715px;
    height: 80vh;
    
    background: linear-gradient(109.88deg, rgba(26, 27, 29, 0.94) 8.67%, rgba(46, 50, 53, 0.94) 17.72%, rgba(53, 52, 57, 0.94) 30.71%, rgba(33, 32, 34, 0.94) 46.97%, rgba(37, 38, 39, 0.94) 67.76%, rgba(21, 23, 24, 0.94) 81.24%);
    box-shadow: 59px 4px 16px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 48px 92px 67px rgba(0, 0, 0, 0.25), 43px 48px 54px rgba(0, 0, 0, 0.53), inset -4px 4px 3px rgba(0, 0, 0, 0.22);
    border-radius: 56px;
}

.chat-page-top-banner {
    display: flex;
    flex-direction: row;
    z-index: 9999;
    border-radius: 100px;

    justify-content: space-between;

    padding-left: 10px;
    padding-right: 30px;

    position: absolute!important;
    top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);

    position: absolute;
    width: 650px;
    height: 84px;
    left: 20px;


    background: linear-gradient(90.83deg, rgba(135, 70, 217, 0.9) 8.85%, rgba(122, 111, 228, 0.9) 53.15%, rgba(110, 92, 218, 0.9) 73.15%, rgba(142, 123, 255, 0.9) 95.8%);
    box-shadow: 7px 35px 15px rgba(0, 0, 0, 0.25);

}

.chat-page-message-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chat-page-message-text {
    display: flex;
    align-items: center;
    z-index: 999;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid rgba(250, 224, 224, 0.19);
    max-width: 100%;
    position: absolute;
    bottom: -20px;
    
    width: 607px;
    height: 58px;
    background: rgba(83, 87, 96, 0.8);
    box-shadow: 0px 48px 20px -16px rgba(0, 0, 0, 0.35), inset 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.chat-page-input-box-padding {
    margin: 5px;
    
}

.write-a-message-placeholder {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* identical to box height, or 488% */


    background: none!important;
    outline: none!important;
    border: none!important;
    letter-spacing: -0.5px;

    color: rgba(255, 255, 255, 0.7);

}

.write-a-message-placeholder::placeholder {
    text-align: center;
    letter-spacing: -0.5px;

    color: rgba(255, 255, 255, 0.7);
}

.chat-page-messages-body {
    max-height: 95%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.chat-page-text-sender {
    left: 0px;
    position: relative;
    bottom: 30px;
    z-index: 999;
    padding: 15px;
    padding-right: 30px!important;

    margin: 16px;

    border-radius: 10px;
    border-bottom-left-radius: 2px!important;

    background: linear-gradient(262.55deg, #474B54 29.54%, #535760 52.85%, #6C727D 114.12%);
    box-shadow: -18px 64px 20px rgba(0, 0, 0, 0.37);
}


.chat-page-main-text-sender {
    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 22px;
    padding-top: 5px;
    /* or 138% */
    max-width: 340px;

    display: flex;
    align-items: center;
    letter-spacing: -1px;

    margin: 0;
    margin-bottom: 10px;

    color: #FFFFFF;
}


.chat-page-text-sender-date {
    font-style: normal;
    font-weight: 510;
    font-size: 12px;

    margin: 0;

    font-style: normal;
    font-weight: 510;
    font-size: 12px;
    margin: 0;
    position: relative;
    left: 0px;
    /* bottom: 10px; */
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.4);

    letter-spacing: -1px;

    color: rgba(255, 255, 255, 0.4);
}

.chat-page-text-recipient-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}

.chat-page-text-recipient {
    right: 0px;
    position: relative;
    bottom: 30px;
    z-index: 999;
    padding: 15px;
    max-width: 340px;

    margin: 16px;

    border-radius: 10px;
    border-bottom-right-radius: 2px!important;

    background: linear-gradient(327deg, #9A9A9D 29.6% ,#F1F5FC 63.02%);    
    box-shadow: 45px 72px 17px rgba(0, 0, 0, 0.25), -20px 49px 21px rgba(0, 0, 0, 0.35);
}

.chat-page-text-recipient-message {
    font-weight: 510;
    font-size: 14px;
    line-height: 22px;
    padding-top: 6px;
    max-width: 340px;

    letter-spacing: -1px;
    margin: 0;
    margin-bottom: 15px;

    color: #27282E;
}

.chat-page-text-recipient-date {
    font-style: normal;
    font-weight: 510;
    font-size: 14px;

    letter-spacing: -1px;
    margin: 0;
    position: absolute;
    right: 15px;
    bottom: 0px;

    color: rgba(42, 41, 50, 0.4);
}


.chat-page-text-recipient-date { 
    font-style: normal;
    font-weight: 510;
    font-size: 12px;
    bottom: 0px;
    right: 0px;
    position: relative;
    /* or 557% */
    text-align: center;
    letter-spacing: -1px;

    color: rgba(42, 41, 50, 0.4);
}


.chat-page-text-sender-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.chat-page-large-date-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chat-page-date-background {
    background: linear-gradient(97.54deg, rgba(232, 72, 201, 0.8) -3.77%, rgba(122, 109, 255, 0.8) 119.5%);
    box-shadow: 0px 35px 20px -6px rgba(0, 0, 0, 0.36);
    border-radius: 58px;
    padding-left: 10px;
    padding-right: 10px;
}

.chat-page-date--text {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    z-index: 999;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.chat-page-top-banner-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-page-top-banner-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-page-top-banner-left-container--name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    /* identical to box height, or 433% */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.chat-page-top-banner-left-container--last-seen {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    /* or 488% */

    text-align: center;
    letter-spacing: -0.02em;

    color: rgba(255, 255, 255, 0.83);
}

.chat-page-top-banner-left-container--p {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.chat-page-top-banner-right-container-icons {
    display: flex;
    margin-left: 20px;
    cursor: pointer;
}

.chat-page-top-container-left-container-user-icon {
    filter: drop-shadow(0px 7px 5px rgba(0, 0, 0, 0.37));
}

.chat-page-top-container-left-container-user-icon-bg {
    width: 72px;
    height: 72px;
    position: relative;
    border-radius: 100%;
    box-shadow: inset 0px 4px 1px rgba(0, 0, 0, 0.15);
    background: linear-gradient(134.68deg, #EE9D54 4%, #E848C9 44.43%, #6734EE 104.57%);
}

.chat-page-user-list--item {
    display: flex;
    margin-bottom: 35px;
}

.chat-page--top-section {
    width: 100%;
    position: absolute;
    top: (0 + 80)px;
    z-index: 999;
    height: 239px;
    background: #101214;
    box-shadow: 0px 23px 19px 1px rgba(0, 0, 0, 0.25);
}

.chat-page--middle-section {
    top: 346px;
    width: 100%;
    z-index: 99;
    position: absolute;
    height: 322px;
    background-size: 400% 400%!important;
	animation: gradient 10s ease infinite;
    background: linear-gradient(106.89deg, #E848C9 9.58%, rgba(122, 109, 255, 0.42) 88.27%);
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.chat-page--last-section {
    top:  800px;
    height: 100%;
    position: absolute;
    z-index: 9;
    background: linear-gradient(190.97deg, #33373D 7.23%, #1C1B20 25.39%, #1C1B22 48.23%, #0C0C0F 58.53%);
}


.chat-page-header-container {
    display: flex;
    padding-left: 200px;
    padding-top: 20px;
    padding-right: 200px;
    position: relative;
    z-index: 9999;
    flex-direction: column;
    justify-content: flex-start;
}

.chat-page-header--title {
    font-style: normal;
    font-weight: 510;
    margin: 0;
    font-size: 48px;
    letter-spacing: -0.065em;

    color: #FFFFFF;
}

.chat-page-header--subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.03em;
    margin: 0;
    margin-top: 5px;

    color: rgba(255, 255, 255, 0.55);
}


.match-it-header {
    background: #000000;
    box-shadow: 0px 18px 12px rgba(0, 0, 0, 0.25);

    max-width: 100%;
    position: relative;
    z-index: 9999;
    border-bottom: 4px solid rgba(255, 180, 240, 0.8);
    height: 82px;

    justify-content: space-between;

    padding-left: 9rem;
    padding-right: 9rem;

    align-items: center;
    display: flex;
    flex-direction: row;
}

.match-it-header--input {
    background: #2B2B2B;
    border-radius: 7px;
    font-size: 14px;
    width: 399px;
    padding-left: 40px;
    outline: none!important;
    border: none!important;
    color: white;
    outline: none;
    height: 45px;
}

.match-it-header--top-left-corner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.match-it-header--top-right-corner {
    position: relative;
    display: flex;
    flex-direction: row; 
}

.match-it-header--logo {
    display: flex;
    color: white;
    margin-right: 30px;
}

.match-it-header--top-right-corner-menu {
    display: flex;
    flex-direction: row;
}

.match-it-header--top-right-corner-menu--item {
    background: none!important;
    cursor: pointer;
}

.outfit-modal {
    z-index: 99999!important;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;

    position:fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background: rgba(141, 141, 141, 0.3);
    backdrop-filter: blur(50px);    
    z-index: 99999;
}


.outfit-modal-container {
    padding-top: 1rem;
    position: relative;
    padding-left: 13rem;
    padding-right: 13rem;
}

.outfit-modal-row {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
}

.outfit-modal-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.outfit-modal-nav-links {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

    letter-spacing: -0.5px;
    
    color: #FFFFFF;
}

.outfit-modal-exit-link  {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    letter-spacing: -0.065em;

    color: #FFFFFF;
}

.outfit-modal-h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    margin: 0;
    line-height: 58px;
    letter-spacing: -0.065em;

    color: #FFFFFF;

}

.outfit-modal-input-container {
    width: 100%;
    margin-right: 18px;
}

.outfit-modal-hr {
    background: rgba(255, 255, 255, 0.27);
    border-width: 0.6px;
    position: relative;
    left: 0px;
    margin-top: 20px;
    opacity: 0.4;
    margin-left: -13rem;
    margin-right: -13rem;
}

.outfit-modal-white-card {
    background: #FFFFFF;
    box-shadow: 0px 45px 28px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding-top: 30px!important;
    padding: 20px;
    position: relative;
}

.outfit-modal-img {
    border: 0.6px solid #CBCCD2;
    box-sizing: border-box;
    box-shadow: 0px 12px 15px -4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    height: 228px;
    width: 235px;
}


.outfit-modal-number {
    font-style: normal;
    font-weight: 500;
    padding-right: 20px;
    font-size: 38px;
    letter-spacing: -0.065em;

    color: #FFFFFF;

}

.outfit-piece-icon {
    cursor: pointer;
    margin-top: 20px;
}

.modal-backdrop {
    z-index: 999999!important;
}

.modal {
    z-index: 999999!important;
}

.outfit-modal-delete-icon {
    margin: 0;
    padding-right: 20px;
    font-size: 24px;
    color: white;
    padding-top: 0px!important;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.finish-creating-outfit-btn {
    width: 198px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.02em;
    border: none;
    outline: none;

    color: #FFFFFF;
    background: #7A6DFF;
    border-radius: 6px;
}

.outfit-modal-num-pieces {
    font-weight: 400;
    font-size: 16px;
    margin-top: 6px;
    /* identical to box height, or 488% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.5px;

    color: #FFFFFF;
}


.outfit-modal-submission-modal {
    padding: 50px;
}

.outfit-modal-submission-modal-row {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-end;
}

.outfit-modal-submission-cancel-button {
    font-weight: 500;
    font-size: 14px;
    background: none!important;
    outline: none!important;
    border: none!important;
    /* identical to box height */
    margin-right: 15px;
    letter-spacing: -0.02em;
    
    color: #605F68;
}

.outfit-modal-submission-btn {
    width: 103px;
    height: 45px;
    border: none!important;
    outline: none!important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #FFFFFF;

    background: #7A6DFF;
    border-radius: 6px;
}

.wallet-container-row {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.wallet-container-column {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.add-your-card-h1 {
    font-size: 15px;
     margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}


.grid-portfolio-upload {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.cancel-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #605F68;
    background: none;
    border: none;
    outline: none;
}

.next-button {
    width: 80px;
    height: 41px;
    font-style: normal;
    font-weight: 600;
    outline: none!important;
    border: none!important;
    margin-left: 20px;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    background: #7A6DFF;
    border-radius: 7px;
}

.upload-portfolio-modal-btn-row {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.upload-portfolio-modal-add-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upload-portfolio-modal-h1 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    margin: 0;
    
    color: #454448;
}

.upload-portfolio-modal-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    margin-right: 10px;
}

.upload-portfolio-modal-column {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.upload-portfolio-modal-delete {
    font-size: 14px;
    cursor: pointer;

}

.upload-portfolio-modal-add-btn {
    background: none;
    border: 1px solid black;
    padding: 5px;

    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: black;
    font-size: 14px;
}


.profile-pic-url {
    width: 56px;
    height: 56px;
    border: 10px solid #ffffff2b;
    border-radius: 100%;
    box-shadow: 2px 2px 19px 0px #00000030;    
    margin-bottom: 20px;
    content: border;
    cursor: pointer;
    box-sizing: content-box;
}

.feed-container {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    position: relative;
    z-index: 99999;
}

.feed-page-background {
    position: fixed;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 200px;
    height: 100vh;
    background: #101214;
}

.feed-stylist-profile {
    position: absolute;
    z-index: 9999;
    right: 120px;
    top: -10px;
    padding: 18px;
    width: 302px;
    overflow-x: auto;
    border-radius: 26px;
    border-bottom-left-radius: 130px;
    height: 458px;
    box-sizing: border-box;
    background: linear-gradient(157.99deg, #000000 79.93%, #000000 94.96%);
    box-shadow: 48px 55px 67px rgba(0, 0, 0, 0.25), 33px 37px 38px rgba(0, 0, 0, 0.53);
}

.feed-stylist-profile-image {
    width: 100%;
    min-width: 300px;
    min-height: 253px;
    max-height: 303px;
    margin-top: -20px;
    margin-left: -17px;
    margin-right: -17px;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.feed-stylist-profile-description-container {
    position: relative;
    top: -40px;
}


.feed-stylist-profile-button-row {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-end;
    align-items: center;
    bottom: 20px;
    right: 0px;
}


.feed-stylist-profile-clear-gradient {
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    right: 0px;
    top: 0px;
    clip-path: polygon(0 0, 100% 40%, 100% 0);
    background: white;
    opacity: 0.16;
}


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: -10px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.feed-container-backdrop-card {
    background: linear-gradient(93.88deg, rgba(58, 60, 62, 0.581) 17%, rgba(38, 37, 39, 0.7) 62.67%, rgba(42, 43, 44, 0.7) 74.27%, rgba(50, 51, 54, 0.7) 81.77%);
    box-shadow: 0px 30px 55px rgba(136, 169, 255, 0.13), 0px 105px 41px rgba(0, 0, 0, 0.37), 48px 55px 67px rgba(0, 0, 0, 0.25), 33px 37px 38px rgba(0, 0, 0, 0.53), inset 0px 0px 3px rgba(0, 0, 0, 0.22);
    height: 100%;
    border-radius: 30px;
}

.feed-stylist-profile-h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    margin: 0;
    margin-top: 1px;
    line-height: 25px;
    letter-spacing: -0.075em;

    color: #FFFFFF;
}

.feed-stylist-profile-h2 {
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 128.52%;
    /* identical to box height, or 18px */

    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.feed-stylist-profile-p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 128.52%;
    /* or 18px */


    color: #FFFFFF;

}


.user-profile-header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
}

.user-profile-header-icon {
    border-radius: 100%;
    box-sizing: content-box;
    border: 10px solid rgba(255, 255, 255, 0.137);
    width: 35px;   
    height: 35px;
}

.user-profile-header-name {
    font-style: normal;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.065em;

    color: #FFFFFF;
}

.header-vertical-gray-line {
    background: rgba(255, 255, 255, 0.2);
    width: 1px;
    height: 80px;
    margin-right: 20px;
    margin-left: 30px;
}

.menu-icon-row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    max-width: 100%;
    align-items: center;
}


.gradient-card-outfit-roww {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gradient-card-outfit-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradient-card-outfit-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
}

.gradient-card-outfit {
    width: 500px;
    height: 100%;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    padding: 10px;
    background: #000000;
    box-shadow: 44px 22px 25px rgba(0, 0, 0, 0.24), 0px 56px 63px -31px rgba(137, 95, 249, 0.39);
    border-radius: 16px;
}

.gradient-card-outfit-h1 {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.gradient-card-outfit-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;

    color: rgba(255, 255, 255, 0.7);
}

.gradient-card-outfit-hr {
    border-color:rgba(255, 255, 255, 1.0);
    opacity: 1.0;
    border-width: 0.7px;
    margin-right: -20px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid;
}

.gradient-card-outfit-total-pieces {
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;

    letter-spacing: -0.02em;

    margin-bottom: 0px;
    position: absolute;
    right: 15px;
    bottom: 4px;

    color: rgba(255, 255, 255, 0.5);
}

.gradient-card-outfit-cost {
    font-style: normal;
    font-weight: 600;
    margin: 0;

    font-size: 14px;
    line-height: 22px;

    letter-spacing: -0.02em;
    
    color: rgba(255, 255, 255, 0.8);
}

.gradient-card-outfit-img-blur {
    border-radius: 9px;
    height: 150px;   
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    width: 150px;
    transition: all 3s;
}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.gradient-card-outfit-img {
    border-radius: 9px;
    height: 150px;   
    transition: all 3s;
    width: 150px;
}

.gradient-white-top-card-outfit {
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    border-top-right-radius: 16px;
    border-top-left-radius: 15px;
    right: 0px;
    top: 0px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background: white;
    opacity: 0.16;
}



.payment-button {
    width: 110px;
    height: 34px;
    outline: none;
    border: none;
    right: -30px;
    position: absolute;
    top: -12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #514B5A;
    background: #FAFCFF;
    box-shadow: -13px 20px 20px 12px rgb(0 0 0 / 57%);
    border-radius: 37px;
}

.purple-gradient-add-to-calendar-card {
    background: linear-gradient(94.04deg, #B093FF -42.39%, #8370FF -3.85%, #644FF5 20.1%, #5240DE 53.73%, #905CFF 79.03%, #9A5CFF 96.01%);
    box-shadow: 44px 35px 25px rgba(0, 0, 0, 0.24), 0px 67px 63px -31px rgba(103, 52, 238, 0.39);
    border-radius: 16px;
    position: relative;
    padding: 15px;
    width: 500px;
    border: 0.5px solid rgba(247, 201, 255, 0.5);
}

.purple-gradient-add-to-calendar-user-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    top: 30px;
    right: 30px;

}


.purple-gradient-add-to-calendar-h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}



.purple-gradient-add-to-calendar-h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin: 0;

    letter-spacing: -0.02em;

    color: rgba(255, 255, 255, 0.7);
}



.purple-gradient-add-to-calendar-p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding-bottom: 20px;

    letter-spacing: -0.02em;

    color: rgba(255, 255, 255, 0.5);
}

.purple-gradient-add-to-calendar-hr {
    border: 1px solid rgb(255, 255, 255);
    border-width: 0.6px;
    position: relative;
    opacity: 0.3;
    margin-left: -65px;
    left: 60px;
    width: 100%;
    margin-right: -45px;
}

.send-message-btn {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.397);
    color: white;
    width: 120px;
    outline: none;
    padding: 4px;
    border-radius: 20px;
}